.main-header {
    background-color: #61eaff !important;
    position: fixed !important;
    width: 100%;
}

.main-header .header {
    display: flex;
    justify-content: 'wrap';
}

.main-content {
    background-color: white !important;
    margin-top: 64px;
    height: 100%;
}

.logo {
    width: 90px;
    height: 60px;
}

.search {
    width: 500px !important;
}